@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo a página de café</h1>
    <p>Compre os cafes listados <a href="https://www.cafelor.com.br/">Abnner Coffes</a>.</p>
</div>
